@{
    ViewBag.Title = "Search Weather";
}


    @section Styles {

        <style>
            #error {
                visibility: hidden;
            }
        </style>

    }

    <div class="container">
        <div class="row justify-content-center">
            <form id="weather--form" class="container-fluid col-8">

                <div class="form-group row">
                    <div class="col-12 input-group">
                        <input type="text" class="form-control" id="location--name" required placeholder="Glasgow" />
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-4 input-group">
                        <button type="submit" class="btn btn-primary">Fetch Weather</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-12" id="error">
               
            </div>
            <div class="col-6 my-2 location--data" id="location--name-value">
                Location - <span></span>
            </div>
            <div class="col-6 my-2 location--data" id="location--temp-value">
                Temperature - <span></span> &deg;C
            </div>
            <div class="col-12 my-2 location--data" id="location--weather-value">
                Weather - <span></span> 
            </div>
        </div>

    </div>

    <p>Data provided by OpenWeatherMap</p>

@section Scripts {

    <script>

        $("#weather--form").on("submit", function (e) {

            e.preventDefault();

            $.ajax({

                url: `api/weather/${$("#location--name").val()}`,
                method: "GET",
                success: function (data) {

                    $("#error").css("visibility", "hidden");
                    $(".location--data").css("visibility", "visible");

                    if (data.message === "404") {
                        $(".location--data").css("visibility", "hidden");
                        $("#error").css("visibility", "visible");
                        $("#error").text("Invalid location. Please try again!");
                    } else if (data.message === "400") {
                        $(".location--data").css("visibility", "hidden");
                        $("#error").css("visibility", "visible");
                        $("#error").text("Bad Request!");
                    } else {
                        $("#location--name-value > span").text(data.name);
                        $("#location--temp-value > span").text(data.main.temp);
                        $("#location--weather-value > span").text(data.weather[0].main)
                    }

                },
                error: function (response) {
                    $(".location--data").css("visibility", "hidden");
                    $("#error").text(response.statusText);
                    $("#error").css("visibility", "visible");

                }
            })

        });

    </script>

}